html {
  font-size: 10px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 1.6rem;
}

#header {
  display: flex;
  justify-content: space-evenly;
  height: 90px;
  background-color: antiquewhite;
  align-items: center;
  padding: 0 30px;
}

#header-img {
  width: 50px;
  margin: auto;
}

#nav-bar {
  display: flex;
  justify-content: space-evenly;
  gap: 110px;
  font-size: 2.4rem;
}

a {
  text-decoration: none;
}

#History {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  flex-direction: column;
}

.video {
  width: 50%;
  height: 400px;
  margin: 50px 0;
}

#text_history {
  width: 70%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#first_paragraph{
  display: flex;
}

#name_pyke {
  font-size: 2.8rem;
  display: inline;
}

#name_pyke,
.paragraph_history.first {
  grid-column: 1;
}
.paragraph_history.first::first-letter {
  color: red;
}

.paragraph_history.second {
  grid-column: 2;
}

section#Habilities {
    align-items: center;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

#form {
}

.label-form {
}

.label-form.fieldset-label {
}

@media (max-width: 610px) {
  #nav-bar {
  }
}
@media (max-width: 610px) {
  #nav-bar {
  }
}
@media (max-width: 610px) {
  #nav-bar {
  }
}
@media (max-width: 610px) {
  #nav-bar {
  }
}
