html {
  font-size: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-top: 90px;
}

p {
  font-size: 1.8rem;
}

#header {
  display: flex;
  justify-content: space-evenly;
  height: 90px;
  background-color: antiquewhite;
  align-items: center;
  padding: 0 30px;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

#header-img {
  width: 50px;
}

#nav-bar {
  display: flex;
  justify-content: space-evenly;
  gap: 110px;
  font-size: 2.4rem;
}

a {
  text-decoration: none;
}

#title_History,
#title_Habilities,
#title_Popularity,
#title_Questions {
  font-size: 4rem;
  margin: 3rem 0;
}

section#History,
section#Popularity,
section#Habilities {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 3rem 3rem 3rem;
}

#History {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.video {
  width: 50%;
  height: 400px;
  margin: 0;
}

.paragraph_history.first::first-letter {
  color: red;
  font-size: 3.2rem;
}

p.paragraph_history.first {
  margin-bottom: 1.8rem;
  line-height: 125%;
}

p.paragraph_history.second {
  line-height: 125%;
}

#text_habilities {
  display: flex;
  flex-direction: column;
}

.title_section {
  margin: auto;
  font-size: 4rem;
}

.subtitle_habilities {
  font-size: 3.2rem;
  margin-bottom: 1rem;
}

.paragraph_habilities {
  margin-bottom: 1rem;
  margin-left: 2rem;
}

section#Questions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 3rem 5rem 3rem;
}

#title_Questions {
  text-align: center;
}
#form {
  border: 1px solid black;
  border-right: none;
  border-left: none;
}

.label-form {
  display: block;
  font-size: 1.8rem;
}

input {
  display: block;
  margin: 0.5rem 0;
}

fieldset {
  border: none;
}

legend {
  font-size: 1.8rem;
}

input#request {
  display: inline;
}

.label-form.fieldset-label {
  display: block;
}

input#submit {
  margin-top: 1.5rem;
}

@media (max-width: 1170px) {
  #nav-bar {
    gap:90px;
  }
}
@media (max-width: 1120px) {
  #nav-bar {
    gap:80px;
  }
}
@media (max-width: 1060px) {
  #nav-bar {
    gap:70px;
  }
}
@media (max-width: 1020px) {
  #nav-bar {
    gap:60px;
    font-size: 2.2rem;
  }
}
@media (max-width: 950px) {
  #nav-bar {
    gap:50px;
    font-size: 2.2rem;
  }
}
@media (max-width: 890px) {
  #nav-bar {
    gap: 45px;
    font-size: 2.0rem;
  }
}
@media (max-width: 790px) {
  #nav-bar {
    gap: 40px;
    font-size: 1.8rem;
  }
}
@media (max-width: 755px) {
  #nav-bar {
    gap: 30px;
    font-size: 1.8rem;
  }
}
@media (max-width: 670px) {
  #nav-bar {
    gap: 45px;
    font-size: 2.0rem;
  }
}